In [1]:
import pandas as pd

data = {"Dudu":[0.623, 0.599, 0.441, 0.431],
        "Lucas":[0.92, 1.00, 1.00, 1.00],
        "Dataset":["CWRU", "MFPT", "PU", "UOC"]}

In [ ]:
from vibdata.deep.signal.transforms import Spectrogram

In [7]:
pd.DataFrame(data)

    Dudu  Lucas Dataset
0  0.623   0.92    CWRU
1  0.599   1.00    MFPT
2  0.441   1.00      PU
3  0.431   1.00     UOC

In [ ]:
import matplotlib.pyplot as plt
categories = df["Dataset"]